@charset "utf-8";

/* Reset ------------------------- */

html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica,"微軟正黑體", sans-serif;
}

img {
    vertical-align: bottom;
}

/* Helper ------------------------------- */

.container {
    max-width: 1200px;
    box-sizing: border-box;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


/* Header---------------------------- */

.header {
    /* background-color: PinK; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-head, .header-body, .header-foot {
    padding: .5rem 1rem;
    box-sizing: border-box;
}

.header-head {
    width: 80px;

}

.header-body {
    /* background-color: aqua; */
    /* width: 80px; */
}

.header-btn-xmark, .header-foot {
    display: none;
}

.header-ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    /* background-color: aqua; */
    list-style-type: none; 
    /* 為甚麼我的reset無法發揮 */
    padding: .5rem 1rem;
    border-radius: 30px;
}

.header-li {
    /* background-color: rgb(56, 189, 39); */
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    text-decoration: .3s;
}

.header-link:hover {
    color: #cf7688;
}

.header-img {
    max-width: 100%;
    height: auto;
}

/* Banner------------------------------------------------------ */

.banner {
    color: #fff;
    background-image: linear-gradient(135deg, #cf7688 20%, #f5ba54 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.banner-container {
    /* background-color: rgb(192, 44, 51); */
    display: flex;
    align-items: center;
}

.banner-head, .banner-body {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.banner-index .banner-head{ 
    width: 40%;
    display: flex;
    flex-direction: column;
}


.banner-index .banner-body {
    width: 60%;
    position: relative;
    /* background-color: rgb(37, 145, 55); */
}

.banner-title {
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

.banner-small {
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: .5rem;
}

.banner-sudTitle {
    font-size: 1.75rem;
    line-height: 1.5;
    opacity: .7;
    margin-bottom: 2rem;
}


.banner-ul {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    opacity: .3;
    order: -1;
    margin-bottom: 4rem;
}


.banner-li + .banner-li {
    margin-left: 1rem;
}

.bunner-desc {
    line-height: 1.6;
}


.banner-btns {
    margin-top: 2rem;
}

.banner-btn {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: solid 2px #fff;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 5px;
    transition: .3s;
}

.banner-btn:hover {
    background-color: rgba(225, 225, 225, .2);
}
/* -------------------------------------------------- */

.banner-img{
    max-width: 100%; 
    height: auto;
}

.banner-img-mobile,.banner-img-pad{
    position: absolute;
}

.banner-img-mobile{
    left:0;
    bottom:5rem;
    
}

.banner-img-pad{
    bottom:-2rem;
    right: 1rem;
}   

.banner-img-dasktop{
    margin-left:4.5rem;
} 

.banner-index .banner-head, .banner-index .banner-body{
    padding-top:3rem; 
}
/* ---------------------------------------------------- */

/* footer -------------------- */

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #666;
    padding: 7rem 1rem 1rem;
    align-items: flex-end;
    clip-path: polygon(0 50%,100% 0, 100% 100%,0% 100% );
}
.footer-img-logo{
    max-width: 40px;
    height: auto;
    margin-bottom: .5rem;
}

.footer-link{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    transition-duration: .3s;
}
.footer-link:hover{
    color: #cf7688;
}

.footer-ul{
    display: flex;
}

.footer-desc{
    font-size: .9rem;
    color: #fff;
    text-transform: uppercase;
}

.footer-li{
    margin-left: 1rem;
}
/* aside----------------------------- */

.aside{
    z-index: 10;
    position: fixed;
    right: 1rem;
    bottom: 15rem;
}

.aside-link{
    color: rgba(0, 0, 0, .2);
    text-decoration: .3s;
}
.aside-link:hover{
    color: rgba(0, 0, 0, .5);
}

.aside-link-top{
    font-size: 3rem;
}